apiVersion: v1
kind: Service
metadata:
  name: nginx-psc-svc
  namespace: default
  annotations:
    cloud.google.com/neg: '{"exposed_ports":{"80":{}}}'
spec:
  type: ClusterIP
  selector:
    app: nginx
  ports:
  - name: http
    port: 80
    targetPort: 80
